.arr-container {
    position: relative;
    left: 100px;

}

/* .arr-bar {
    width: 100px;
    background-color: blue;

    display: inline-block;
    margin: 0 1px
} */

.list-btn{
    position: absolute;
}

@keyframes leftToRight {
    0%{
        background-color: red;
      }
      40%{
        transform: translate(0px, 0px);
        background-color:red;
      }
      60% {
        transform: translate(0px, 50px);
        background-color: red;
      }
      80% {
        transform: translate(100px, 50px);
        background-color: red;
      }
      99% {
        transform: translate(100px, 0px);
        background-color: red;
      }
      100%{
        transform: translate(100px, 0px);
        background-color: none;
      }
    ;
}

@keyframes rightToLeft {
  0%{
    background-color: red;
  }
  40%{
    transform: translate(0px, 0px);
    background-color: red;
  }
  60% {
    transform: translate(0px, -50px);
    background-color: red;
  }
  80% {
    transform: translate(-100px, -50px);
    background-color: red;
  }
  99% {
    transform: translate(-100px, 0px);
    background-color: red;
  }
  100%{
    transform: translate(-100px, 0px);
  }
}